*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(67, 249, 249);
    height: 50vh;
    width: 60vw;
}
#container{
    position: absolute;
    border: 1px solid black;
    height: 500px;
    width:50%;
    margin: 25%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 16px; 
    background-color: rgb(251, 248, 242); 
    padding: 70px;
    justify-content: center;
    margin-top: 100px;
    margin-right: 30px;
    font-size: 2.5rem;
}
button{
    height: 60px;
    font-size: 1.5rem;
   width: 100px;
   border-radius: 5px; 
   color:rgb(21, 185, 185);
   
}
button:hover{
    background-color:teal;
   
}

